* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

.page {
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 70vh;
}

.nav {
    width: 17%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 0;
  margin: 0;
  
}

nav img {
    padding-bottom: 0 2rem;
}

nav ul {
    list-style: none;
}
nav ul li {
    margin-top: 3.75rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.kwadrat {
    display: block;
    width: 100%;
    background-color: palegreen;
}

section.header {
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    /* background-color: red; */
}

.header-orange {
    width: 25%;
    background-color: green;
}

.header-background {
    display: flex;
    background-image: url('/images/background-header.png');
    background-size: cover;
    width: 100%;
}

.header-btn-text {
    width: 40%;
    position: relative;
    left: 6.688rem;
    top: 9.313rem;
}

.header-btn-text p {
    font-size: 5.313rem;
    color: white;
    margin-bottom: 2rem;
}

.header-btn-text a {
    text-decoration: none;
    width: 10%;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem;
    color: white;
}
.header-contact-top {
    background-color: white;
    width: 41.25rem;
    height: 4.813rem;
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    background-color: white;
    /* width: 30%; */
    justify-content: space-between;
}


.header-contact-top a {
    color: #fb8727;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight:;
    
}
.header-contact-top span {
    padding: 1.875 0;
}

.header-info-bottom {

    display: flex;
    
    justify-content: center;
    background-color: #3e3e3e;
    width: 100%;
    height: 11.25rem;
    position: relative;
    top: 85%;
}

.header-info-bottom-text {
    width: 65%;
    color: white;
    align-content: center;

}

.header-info-bottom-icon {
    /* border: 0.500rem solid white; */
    width: 30%;
    /* border-radius: 50% 50%; */
    /* font-size: 40px */

}

.consultant {
    font-size: 1rem;
}

.header-info-bottom-icon a {
    font-size: 50px;
    border-radius: 50% 50%;
    border: 1px solid white;
    text-decoration: none;
}

.header-contact-top {
    /* display: flex;
    flex-direction: row;
    background-color: white;
    width: 30%;
    justify-content: space-between; */
}

.icon-between {
    margin: 0 2rem;
  }

  .header-contact-top>div {
    height: 120%;
    width: 100%;
    z-index: 10;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
  }


  main {
      width: 100%;
      background-color: turquoise;
  }

  .main {
      display: flex;
      flex-direction: wrap;
      /* flex-direction: column; */
      width: 71%;
      margin: 0 auto;
      background-color: darkgrey;
  }

  .main-content-box-offer {
      width: 400px;
  }
 .main-content-box-offer span {
     text-transform: uppercase;
     font-size: 1.2rem;
     /* color: #fb8727; */



        font-family: "Roboto";
        color: rgb(251, 135, 39);
        line-height: 1.8;
        text-align: left;
        font-weight: bold;
    
      
 }
  .kwadrat
   {
       /* width: 100%; */
       /* height: ; */
       background-color: red;
   }

   footer {
       background: url('/images/footer-right.png');
       margin-top: 6rem;
       width: 100%;
       display: flex;
   }





   .Layer_5_copy {
    background-image: url("Layer 5 copy.png");
    left: 725px;
    top: 3830px;
    width: 1231px;
    height: 718px;
    position: absolute;
    z-index: 28;
  }
  

   .footer-img {
       width: 40%;
       background: url('/images/footer-left.png');
       background-size: cover;
       /* position: relative; */
       height: 50vh;
   }

   .footer-text {
       width: 50%;
        /* margin: 0 auto; */
       /* padding: 10%; */
       position: relative;
       left: 45%;
       top: 20%;
       
   }

   .footer-text h1 {
       color: white;
   }

   .footer-address {
       margin-bottom: 2rem;
   }

   .footer-address div span {
       color: #3e3e3e;
   }

   .footer-address strong {
       font-size: 1.2rem;
       color: white;
   }

   .footer-phone strong {
       font-size: 2rem;
       color: white;
   }

   .footer-right {
       w60%
       color: white;
       position: relative;
       left: 3rem;
       top: 3rem;
       /* width: 100%; */
       /* top: 6%; */
   }

   form {
       width: 100%;
   }

   

   .first-section-form input {

       width: 13.563rem;
       height: 4rem;
       border-radius: 2rem;
       background-color: #fb8727;
       border: 1px solid white;
       margin-left: 4rem;
   }

   .footer-text-right {
       margin-bottom: 3rem;
   }

   .footer-text-right h1 {
       font-size: 2rem;
   }

   .footer-text-right h2 {
       font-size: 1.5rem;
   }